/* Header */

.mast {
  text-overflow: ellipsis;
  width: 100%;
  z-index: 19999;
}

.bar {
  clear: both;
  position: relative;
  width: 100%;
  height: 45px;
  margin: 0 auto;
}

.logo {
  background-repeat: no-repeat;
  background-scroll: scroll;
  height: 43px;
  width:65px;
  background-position: center;
}

/* Inlogo Ajax loader */

.loader {
  animation: loading 1s linear infinite;
  box-sizing:content-box;
  width:20px;
  height: 20px;
  border: 2px solid;
  border-top-color: #4af;
  border-left-color: #f4a;
  border-bottom-color: #fac;
  border-right-color: #0ff;
  border-radius: 50%;
  margin: 2.15em -41px;
}

@keyframes loading {
    0% { transform: translate(-9px, -25px) rotate(0deg); }
  100% { transform: translate(-9px, -25px) rotate(360deg); }
}

.beta-label {
  margin:8px 0 0 -16px;
  transform:rotate(90deg);
  color:#777;
}

.page-label {
  padding: 11px 15px;
  width: 90px;
}

.navi-menu {
  li {
    a:hover, &#active a:hover, &.selected a:hover {
      color: #fff;
    }
  }
  > menu li a {
    display: block;
  }
  white-space: nowrap;
  menu {
    white-space: nowrap;
    height: 45px;
  }
  li {
    &#active {
      background-position: left center;
      background-repeat: no-repeat;
    }
    a {
      line-height: 44px;
      padding: 13px 20px;
    }
  }
}
.divider {
  border-left:1px solid #eaeaea;
}

.bar-line {
  border-bottom:1px solid #eaeaea;
}

.element {
  display:flex;
  height:44px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.user-label {
  padding:1px 15px 0 15px !important;
}
