= content_for :title do 
  Marvin Danig | Magazines | Rails | Javascript 

%h1.text-center Boy, you got here first!
%p.text-center 
  Send me a business
  = succeed '.' do
    = link_to 'note', href: 'mailto:marvin@marvindanig.com'
