= favicon_link_tag 'favicon.ico'

/ = favicon_link_tag 'touch/apple-touch-icon.png', :rel => 'apple-touch-icon-precomposed apple-touch-icon', :type => 'image/png', :title => "Bubblin"

/ = favicon_link_tag 'touch/apple-touch-icon-57x57-precomposed.png', :rel => 'apple-touch-icon-precomposed apple-touch-icon', :type => 'image/png', :title => "Bubblin", :sizes => "57x57"

/ = favicon_link_tag 'touch/apple-touch-icon-152x152-precomposed.png', :rel => 'apple-touch-icon-precomposed apple-touch-icon', :type => 'image/png', :title => "Bubblin", :sizes => "152x152"

/ = favicon_link_tag 'img/common-assets/bubblin-splash-iPhone-portrait-320x460.jpg', :sizes =>"320x460", :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1)"

/ = favicon_link_tag 'img/common-assets/bubblin-splash-ipad2-landscape-748x1024.jpg', :sizes =>"748x1024", :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"

/ = favicon_link_tag 'img/common-assets/bubblin-splash-ipad2-portrait-768x1004.jpg', :sizes =>"1004x768" , :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)"
/ /
/   = favicon_link_tag 'img/common-assets/ipad-landscape.jpg', :sizes =>"748x1024", :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"
/   = favicon_link_tag 'img/common-assets/ipad-landscape.jpg', :sizes =>"748x1024", :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"
/   = favicon_link_tag 'img/common-assets/ipad-landscape.jpg', :sizes =>"748x1024", :rel => 'apple-touch-startup-image', :type => 'image/jpg', :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"

