= provide(:title,'Work')


.wrapper
  .planets.sun
    .one.ring
    .two
      .ring
      .seven
    .three
      .ring
      .four
    .three.slow
      .ring
      .five
    .three.fast
      .ring
      .six
