= provide(:title,"Bird's eye view".html_safe)

%body.loading
  #wrapper
    #bg
    #overlay
    #main
      %header#header
        %h1 Marvin Danig
        %p 
          Developer  •  Designer  •  
          %span.strike Manager
        %nav
          %ul
            %li
              %a.icon.fa-github{:href => "https://github.com/marvindanig"}
                %span.label Github
            %li
              %a.icon.fa-twitter{:href => "https://twitter.com/marvindanig"}
                %span.label Twitter
            %li
              %a.icon.fa-codepen{:href => "http://codepen.io/marvindanig/"}
                %span.label Codepen
            %li
              %a.icon.fa-book{:href => "https://bubbl.in/marvin"}
                %span.label Books
            %li
              %a.icon.fa-envelope-o{:href => "mailto:marvin@marvindanig.com"}
                %span.label Email
