= provide(:title,'Work')

.container.center

  #webgl
  %script{:src => "https://raw.githubusercontent.com/turban/webgl-earth/master/js/three.min.js"}
  %script{:src => "https://raw.githubusercontent.com/turban/webgl-earth/master/js/Detector.js"}
  %script{:src => "https://raw.githubusercontent.com/turban/webgl-earth/master/js/TrackballControls.js"}