%ul.horizontal-list.left.navi-menu
  %li
    %a.transience{href: 'https://bubbl.in/book/resume-by-marvin-danig/' } Resumé

%ul.horizontal-list.right.navi-menu
  %li
    %a.transience{href: 'https://bubbl.in/marvin-marvin-danig' } Books
  %li
    %a.transience{href: 'http://marvindanig.svbtle.com/' } Blog 
  