%ul.horizontal-list.left.navi-menu
  %li
    = link_to 'Resumé', page_path('about'), :class => 'transience'
  %li.hide-on-mobiles
    = link_to 'I / O', page_path('work'), :class => 'transience'

%ul.horizontal-list.right.navi-menu
  %li.hide-on-mobiles
    %a.transience{href: 'http://marvindanig.svbtle.com/' } Logs 
  %li
    %a.transience{href: 'https://bubbl.in/marvin-marvin-danig' } Books


  