%ul.horizontal-list.left.navi-menu
  %li.hide-on-mobiles
    = link_to 'About', page_path('about'), :class => 'transience'
  %li.hide-on-mobiles
    = link_to 'Work', page_path('work'), :class => 'transience'

%ul.horizontal-list.right.navi-menu
  %li.hide-on-mobiles
    %a.transience{href: 'http://marvindanig.svbtle.com/' } Thoughts 
  %li.hide-on-mobiles
    %a.transience{href: 'https://bubbl.in/marvin-marvin-danig' } Experiments 


  