%li.active
  = link_to 'Work', page_path('work')
%li
  = link_to 'About', page_path('about')
%li
  %a{ href: 'http://marvindanig.svbtle.com/'} Thoughts
%li
  %a{ href: 'https://bubbl.in/marvin'} Experiments
