!!!
!= cc_html(:lang => 'en') do
  = render :partial => 'widgets/head/html_head'
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    = render :partial => "widgets/header/header" # <Header Tag>
    .container.flex.center
      = yield # <Main tag for content>

    / - unless params[:controller] == 'books'
    /   = render :partial => "widgets/footer/footer" # <footer tag>

    / = render :partial => "widgets/scripts/body_javascript_manager" # <Body scripts>

